
.sectionTwo { padding: 40px 0; background: transparent; }

.sectionTwo-container { 
    display: flex; justify-content: space-between; align-items: center; 
    margin-bottom: 30px; padding: 0 20px; 
}
.sectionTwo-left { display: flex; align-items: center; gap: 20px; position: relative; }

.sectionTwo-title { 
    max-width: 371px; font-size: 30px; color: #FFFFFF; 
    text-transform: uppercase; margin: 0; font-weight: 700; 
}
.sectionTwo-logo { width: 50%; position: absolute; left: 105%; bottom: -10px; }

.social-links { display: flex; gap: 8px; flex-direction: column; }
.social-links a { 
    color: #ffffff; border: 1px solid #FFFFFF; padding: 11px 40px; 
    border-radius: 25px; text-decoration: none; font-size: 14px; 
}
.marquee-wrapper { margin-top: 45px; margin-bottom: 30px !important; } 
.marquee-wrapper-bottom { margin-top: 0; }

.img-large img { width: 250px; height: 250px; object-fit: cover; border-radius: 20px; }
.img-small img { width: 180px; height: 180px; object-fit: cover; border-radius: 20px; }
.img-large, .img-small { margin: 0 !important; padding: 0 5px; flex-shrink: 0; }


@media (max-width: 768px) {
    .sectionTwo-container { flex-direction: column; gap: 20px; text-align: center; }
    .sectionTwo-left { flex-direction: column; position: static; }
    .sectionTwo-logo { position: static; width: 100px; margin-top: 10px; }
    .social-links { flex-direction: row; }
    .marquee-wrapper {  margin-top: 25px; margin-bottom: 20px !important; }
}
@media (max-width: 576px) {
    .sectionTwo-title { font-size: 24px; }
    .img-large img { width: 180px; height: 180px; }
    .img-small img { width: 130px; height: 130px; }
    .marquee-wrapper { margin-bottom: 15px !important; } 
}
@media (max-width: 400px) {
    .sectionTwo-title { font-size: 20px; }
    .img-large img { width: 100px; height: 100px; }
    .img-small img { width: 80px; height: 80px; }
    .marquee-wrapper { margin-top: 15px; margin-bottom: 10px !important; }
}